/*---------------------------------------- Fonts --------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/*-------------------- Main Sections------------------- */

.section-heading {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.card {
  padding-top: 2px;
  margin-top: 5px;
  box-shadow: 1px 1px;
}

.card-title {
  margin-top: 15px;
}

.card-body {
  padding-top: 2px;
  padding-bottom: 2px;
}

/*---------------------------------------- Header --------------------------------------*/

.navbar {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  font-size: 48px;
  margin: 0px;
}

.navbar-nav {
  text-align: center;
}

.logo-wrapper {
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.logo {
  height: 100px;
  width: 100px;
}

/*----------------------------------- Buttons------------------------------- */
/* The below CSS adjusts the colours and responsivness of buttons throughout the website in order to maintain the website's style */

.btn {
  margin-top: 5px;
  font-size: 20px;
}

.btn-card {
  background-color: rgba(87, 202, 255, 1) !important;
  color: #000000 !important;
  border-color: rgba(87, 202, 255, 1) !important;
  margin-bottom: 5px;
}

.btn-card:hover {
  background-color: rgba(0, 136, 122, 1) !important;
  border-color: rgba(0, 136, 122, 1) !important;
}

/* ------------------------Main Image ---------------------*/
/* These are the images contained within the hero Carousel */

.home-image {
  background: url("../images/cobhharbourjpg.jpg") no-repeat center fixed;
  background-size: cover;
}

.home-image2 {
  background: url("../images/Ballycotton.jpg") no-repeat center fixed;
  background-size: cover;
}

.home-image3 {
  background: url("../images/fota.jpg") no-repeat center fixed;
  background-size: cover;
}

.jumbotron {
  margin-top: 30px;
  background-color: rgba(145, 236, 227, 0.5);
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.main-image {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.hero-container {
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-animation-name: hero-zoom;
  animation-name: hero-zoom;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes hero-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes hero-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/* -----------------------Footer----------------------------- */
.footer-item {
  padding-top: 50px;
  overflow: hidden;
}

.footer-item-weather {
  padding-top: 5px;
}

.social {
  font-size: 32px;
}

.social i {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.social li a i:hover {
  color: rgba(0, 136, 122, 1);
}

.container-wrapper-blue {
  background-color: rgba(87, 202, 255, 1);
}
/* ---------------Maps Section------------------- */

/* The below CSS controls the layout and some functionality of the Google Maps API Map as well as the Autocomplete Search Box. */
#map {
  min-height: 350px;
  height: 500px;
  max-height: 500px;
  min-width: auto;
  box-shadow: 1px 1px;
}

.map-section {
  margin-top: 5px;
  padding-top: 5px;
}

.search {
  text-align: center;
  max-width: 600px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.map-info {
  padding-top: 60px;
}

.reset-state {
  max-width: 200px;
  text-align: center;
}

.reset-row {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

/*----------------------- contact form ------------------------*/
.form-control {
  display: flex;
  align-items: center;
  margin-top: 12px;
  min-width: 300px;
  max-width: 500px;
  top: 40px !important;
  left: 10px !important;
}

.contact-form-control {
  display: flex;
  align-items: center;
  margin-top: 12px;
  min-width: 300px;
  max-width: 500px;
}

.send-btn {
  margin-top: 25px;
}

/* ----------------------Weather API -------------------------*/
.weather-container {
  width: 250px;
  max-height: 300px;
  border-radius: 12px;
  background-color: rgba(0, 136, 122, 1);
  box-shadow: 1px 1px;
}
