/*---------------------------------------- Fonts --------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Josefin Sans:100,200,300,400,500,600,700");

body {
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/*---------------------------------------- Navbar --------------------------------------*/
/* The below CSS adjusts the styling and sizing of different navbar elements */

.navbar {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.navbar-nav a {
  color: #ffffff;
  font-size: 24px;
}

.nav-item a {
  color: #000000;
  border-bottom: 1px solid transparent;
}

.nav-item a:hover {
  color: #000000;
  border-bottom: 1px solid;
}

.navbar-brand {
  font-size: 32px;
}

.navbar-nav {
  text-align: center;
}
.navbar-toggler:focus {
  outline-color: transparent;
}

/*----------------------------------- Buttons------------------------------- */
/* The below CSS adjusts the colours and responsivness of buttons throughout the website in order to maintain the website's style */
.btn-nav {
  background-color: rgba(87, 202, 255, 1) !important;
  border-color: rgba(87, 202, 255, 1) !important;
  border-bottom: transparent;
}

.btn-nav:hover {
  background-color: rgba(0, 136, 122, 0.5) !important;
  border-color: rgba(137, 223, 214, 0.5) !important;
  border-bottom: transparent;
}

.btn {
  margin-top: 5px;
  font-size: 20px;
}

.btn-card {
  background-color: rgba(87, 202, 255, 1) !important;
  color: #000000 !important;
  border-color: rgba(87, 202, 255, 1) !important;
  margin-bottom: 5px;
}

.btn-card:hover {
  background-color: rgba(0, 136, 122, 1) !important;
  border-color: rgba(0, 136, 122, 1) !important;
}

/* ------------------------Main Images Carousel ---------------------*/

.home-image {
  background: url("../images/cobhharbourjpg.jpg") no-repeat center fixed;
  background-size: cover;
}

.jumbotron {
  margin-top: 30px;
  background-color: rgba(145, 236, 227, 0.5);
  max-width: auto;
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.main-image {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.hero-container {
height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-animation-name: hero-zoom;
          animation-name: hero-zoom;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hero-zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes hero-zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

/* -----------------------footer----------------------------- */
.footer-item {
  padding-top: 50px;
}

.social {
  font-size: 32px;
}
/* ---------------Maps Section------------------- */
#map {
    min-height: 350px;
  max-height: 350px;
  min-width: auto;
  box-shadow: 1px 1px;
}

.map-section {
    margin-top: 5px;
    padding-top: 5px;
}

.search {
    text-align: center;
    max-width: 600px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    }

    .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center!important;
    }

    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center!important;
    }

.form-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
    min-width: 300px;
    max-width: 500px;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.card {
    padding-top: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px;
}

.card-title {
    margin-top: 15px;
}

.card-img-top {
    max-height: auto;
}

.map-info {
    padding-top: 60px;
    }

    /* Weather API */
.weather-container {
    text-align: center;
    width: 300px;
    max-height: 300px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #2980b9, #6dd5fa, #fff);
    box-shadow: 1px 1px;
}

.send-btn {
    margin-top: 25px;
}